.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 4rem 1rem;
  background: var(--c3);
  box-shadow: 0 -10px 9.5px rgba(0, 0, 0, .25);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  animation: show-right .3s ease-in;
}

.logo span {
  font-family: 'Press Start 2P', monospace;
  font-size: 1.5rem;
  color: var(--w);
  animation: show-left .3s ease-in;
}

.footer p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--w);
  animation: show-up .5s forwards;
}

@media(max-width: 498px) {
  .footer {
    padding: 2rem 1rem;
    gap: 0;
  }
  .logo span {
    font-size: 1rem;
  }
  .footer p {
    font-size: .825rem;
  }
}
